.border_ra >img{
     height: 50px;
     width: 50px;
    border-radius: 50%;
}
/*输入框点赞功能*/

.z_icon {
    background: url("../img/list-post-Thumb-up1.png") no-repeat center center;
    background-size: 100%;
    width: 20px;
    height: 20px;
    display: inline-block;
    position: relative;
}
input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], select, textarea {
    line-height: 21px;
    width: 100%;
    height: 28px !important;
    margin-bottom: 15px;
    padding: 10px 15px;
    -webkit-user-select: text;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 3px;
    outline: 0;
    background-color: #fff;
    -webkit-appearance: none;
}
.number2{
    position: absolute;
    text-align: center;
    font-size: 12px;
    color: #57A3E8;
    display: inline-block;
    border-radius: 50%;
    right: -3px;
    top: -10px;
    width: 10px;
    height: 10px;

}
.f_icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 7px;
    background: url("../img/list-alertsi-boy.png") no-repeat center center;
    background-size: 100%;
}
.f_icon2{
    display: inline-block;
    width: 12px;
    height: 20px;
    background: url("../img/list-alertsi-girl.png") no-repeat center center;
    background-size: 100%;
}
.meet{
    height: 40px;
    line-height: 40px;
    color: #B9B9B9;
}
.col-xs-offset-2{
    padding-left: 30px;
}
.b_radios{
    width: 25px;
    height: 25px;

    overflow: hidden;
}
.b_radios>img{
    width: 25px;height: 25px;
    border-radius: 50%;
}
.zan,.b_radios{
    margin: 0 3px;
}
.left_img{
    padding-right: 0;
}
.left_img>img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.zan_div>span{
    margin: 0 1px;
}
.blue_icon{
     width: 20px;
      height: 20px;
      display: inline-block;
     background: url("../img/list-post-comments.png") no-repeat center center;
    background-size: 100%;
}
