.chouse{
    display: block;
    position: relative;
    width: 20px;
    height: 20px;
    background: url("../img/list-Order-tracking.png") no-repeat center center;
    background-size: 100%;
}
.chouse2{
    display: block;
    position: relative;
    width: 20px;
    height: 20px;
    background: url("../img/list-Order-tracking1.png") no-repeat center center;
    background-size: 100%;
}
.time{
    font-size: 12px;

}