<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
 
 <mapper namespace="com.liancheng.it.dao.admin.AdminDao">
 
 	<!-- 查询admin账户 -->
 	<select id="checkAdmin" parameterType="string" 
 	resultType="com.liancheng.it.entity.admin.Admin">
 		select * from admin where admin_name=#{adminame}
 	</select>
 	
 	<select id="queryBannerPics" 
 	resultType="com.liancheng.it.entity.admin.BannerPicReport">
 		select * from banner_pic
 	</select>
 	
 	<select id="TotalBannersCount" resultType="int">
 		select count(*) from banner_pic
 	</select>
 	
 	<select id="updateBanner" parameterType="map">
 		update banner_pic set 
 		ban_pic=#{ban_pic},ban_url=#{ban_url},ban_lastmodify_time=#{ban_lastmodify_time}
 		where ban_id=#{ban_id}
 	</select>
 	
 	<select id="queryBannerById" parameterType="int" 
 	resultType="com.liancheng.it.entity.admin.BannerPicReport">
 		select * from banner_pic where ban_id=#{ban_id}
 	</select>
 	
 	<update id="deleteBannerPicById" parameterType="map">
 		update banner_pic set 
 		ban_pic='',ban_lastmodify_time=#{ban_lastmodify_time} 
 		where ban_id=#{ban_id}
 	</update>
 	
 	<update id="updateDunbaVal" parameterType="map">
 		update dunbar_circle set 
 		content=#{content},last_modify_time=#{last_modify_time}
 		where id=1
 	</update>
 	<select id="queryDunbar" resultType="com.liancheng.it.entity.admin.DunbarCircle">
 		select * from dunbar_circle 
 		where id=1
 	</select>
 	
 	<update id="modifyAdminUser" parameterType="map">
 		update admin 
 		<trim prefix="set" suffixOverrides=",">
 			<if test="admin_name!=null and admin_name!=''">admin_name=#{admin_name},</if>
 			<if test="password!=null and password!=''">password=#{password}</if>
 		</trim>
 	</update>
 	
 	<!-- 后台登录日志的信息 -->
 	<insert id="saveAdminLoginInfo" parameterType="map" keyProperty="id">
 		insert into admin_login_info 
 		(admin_id,login_ip,browser_info,login_time) 
 		values 
 		(#{admin_id},#{login_ip},#{browser_info},#{login_time})
 	</insert>
 	
 	<select id="countAdminLog" resultType="int">
 		select count(*) from admin_login_info
 	</select>
 	
 	<select id="adminLogRepot" parameterType="map" 
 	resultType="com.liancheng.it.entity.admin.AdminLoginInfo">
 		select * from admin_login_info 
 		<where>
 			<if test="dateVal != null and dateVal != ''">date(login_time)=#{dateVal}</if>
 			<if test="adminId != null and adminId != ''">and admin_id=#{adminId}</if>
 		</where>
		<if test="sortName != null and sortName != ''">
			ORDER BY login_time ${sortOrder}
		</if>
 		limit #{start},#{end}
 	</select>
 	
 	<delete id="batchDelLog">
 		delete from admin_login_info 
 		where id in 
 		<foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
 			#{id}
 		</foreach>
 	</delete>
 	
 	<select id="bannerReport" parameterType="map" 
 	resultType="com.liancheng.it.entity.admin.BannerPicReport">
 		select * from banner_pic 
		<if test="sortName != null and sortName == 'ban_id'">ORDER BY ban_id ${sortOrder}</if>
		<if test="sortName != null and sortName == 'ban_creatime'">ORDER BY ban_creatime ${sortOrder}</if>
 		limit #{start},#{end}
 	</select>
 	
 	<delete id="batchDelBanner">
 		delete from banner_pic 
 		where ban_id in 
 		<foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
 			#{id}
 		</foreach>
 	</delete>
 	
 	<select id="queryMaxBannerId" resultType="int">
 		select MAX(ban_id) from banner_pic
 	</select>
 	
 	<update id="updateBannerPic" parameterType="map">
 		update banner_pic set 
 		ban_pic=#{ban_pic},title=#{title},ban_url=#{ban_url},ban_lastmodify_time=#{ban_lastmodify_time}
 		where ban_id=#{ban_id}
 	</update>
 	
 	<insert id="insertBannerPic" parameterType="map">
 		insert into banner_pic 
 		(ban_id,title,ban_pic,ban_url,ban_creatime)
 		values 
 		(#{ban_id},#{title},#{ban_pic},#{ban_url},#{ban_creatime})
 	</insert>
 	
 	<select id="queryByAdminName" parameterType="string" 
 	resultType="com.liancheng.it.entity.admin.Admin">
 		select * from admin where admin_name=#{adminName}
 	</select>
 	
 </mapper>