<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
 
 <mapper namespace="com.liancheng.it.dao.user.UserDao">
 	
 	<select id="findByUserId" parameterType="string" 
 	resultType="com.liancheng.it.entity.user.User">
 		select * from user where user_id=#{user_id}
 	</select>
 	
 	<select id="findBySchoolId" parameterType="com.liancheng.it.entity.user.User"
 		resultType="com.liancheng.it.entity.user.User">
 		select * from user where schoolId=#{schoolId}
 	</select>
 	
 	
 	<insert id="save" parameterType="com.liancheng.it.entity.user.User" >
 		insert into user 
 		(user_id,phoneNum,password,user_nickname,token,creatime)
 		values 
 		(#{user_id},#{phoneNum},#{password},#{user_nickname},#{token},#{creatime})
 	</insert>
 	
 	<update id="saveProfile" parameterType="com.liancheng.it.entity.user.User">
 		update user set profile=#{profile} where user_id=#{user_id}
 	</update>
 	
 	<update id="editUser" parameterType="com.liancheng.it.entity.user.User">
 	<!-- 动态sql语句能更新用户，因为不更新的字段，会被传递null到SQL中，引起异常 -->
 		update user
		<trim prefix="set" suffixOverrides=",">
			<if test="user_nickname!=null">user_nickname=#{user_nickname},</if>
			<if test="gender!=null">gender=#{gender},</if>
			<if test="birthday!=null">birthday=#{birthday},</if>
			<if test="star!=null">star=#{star},</if>
			<if test="e_state!=null">e_state=#{e_state},</if>
			<if test="grade!=null">grade=#{grade},</if>
			<if test="profession!=null">profession=#{profession},</if>
			<if test="major!=null">major=#{major},</if>
			<if test="school!=null">school=#{school},</if>
			<if test="highschool!=null">highschool=#{highschool},</if>
			<if test="province!=null">province=#{province},</if>
			<if test="city!=null">city=#{city},</if>
			<if test="county!=null">county=#{county},</if>
			<if test="lable!=null">lable=#{lable},</if>
			<if test="skill!=null">skill=#{skill},</if>
			<if test="lastmodifytime!=null">lastmodifytime=#{lastmodifytime},</if>
		</trim>
 		where user_id=#{user_id}
 	</update>
	
 	
 	<delete id="deleteById" parameterType="string" >
 		delete from user where
 		user_id=#{user_id}
 	</delete>
 	
 	
 	<select id="findById" parameterType="String" 
 	resultType="com.liancheng.it.entity.user.User">
 		select * from user
 		where user_id=#{user_id} 
 	</select>
 	
 	<select id="findByNickName"	parameterType="string" 
 	resultType="com.liancheng.it.entity.user.User" >
 		select * from user
 		where user_nickname like #{user_nickname}
 	</select>
 	
 	<select id="queryUserProfile" parameterType="string" resultType="string">
 		select profile from user where user_id=#{user_id}
 	</select>
 	
 	<select id="queryUserNickName" parameterType="string" resultType="string">
 		select user_nickname from user where user_id=#{user_id}
 	</select>
 	
 	<update id="saveStuVerify" parameterType="java.util.Map">
 		update user set 
 		stu_verify=#{stu_verify},lastmodifytime=#{lastmodifytime} 
 		where user_id=#{user_id}
 	</update>
 	<update id="saveCertiVerify" parameterType="java.util.Map">
 		update user set 
 		certi_verify=#{certi_verify},lastmodifytime=#{lastmodifytime} 
 		where user_id=#{user_id}
 	</update>
 	
 	<select id="queryAdminVerify" parameterType="java.util.Map" 
 	resultType="com.liancheng.it.entity.user.User">
 		select * from user 
 		<where>
 			((stu_state='0' or certi_state='0' or stu_state='2' or certi_state='2') and (stu_verify is not NULL or certi_verify is not null)) 
 			<if test="searchText != null and searchText != ''">
 				and CONCAT_WS(schoolId,phoneNum,user_nickname,verify_state,city,county,school) like #{searchText}
 			</if>
 			<if test="(startDate != null and startDate != '') and (endDate != null and endDate != '')">
				and creatime BETWEEN #{startDate} AND #{endDate}
			</if>
			<if test="schoolID != null and schoolID != ''">and schoolId=#{schoolID}</if>
			<if test="phoneNum != null and phoneNum != ''">and phoneNum=#{phoneNum}</if>
			<if test="sortName != null and sortName == 'schoolId'">ORDER BY schoolId ${sortOrder}</if>
			<if test="sortName != null and sortName == 'phoneNum'">ORDER BY phoneNum ${sortOrder}</if>
			<if test="sortName != null and sortName == 'reportCreaTime'">ORDER BY creatime ${sortOrder}</if>
			<if test="sortName != null and sortName == 'verify_state'">ORDER BY verify_state ${sortOrder}</if>
 		</where>
 		limit #{start},#{end}
 	</select>
 	<select id="queryCountVerifies" parameterType="map" resultType="int">
 		select count(schoolId) from user 
 		<where>
 			((stu_state='0' or certi_state='0' or stu_state='2' or certi_state='2') and (stu_verify is not NULL or certi_verify is not null)) 
 			<if test="searchText != null and searchText != ''">
 				and CONCAT_WS(schoolId,phoneNum,user_nickname,verify_state,city,county,school) like #{searchText}
 			</if>
 			<if test="(startDate != null and startDate != '') and (endDate != null and endDate != '')">
				and creatime BETWEEN #{startDate} AND #{endDate}
			</if>
			<if test="schoolID != null and schoolID != ''">and schoolId=#{schoolID}</if>
			<if test="phoneNum != null and phoneNum != ''">and phoneNum=#{phoneNum}</if>
			<if test="sortName != null and sortName == 'schoolId'">ORDER BY schoolId ${sortOrder}</if>
			<if test="sortName != null and sortName == 'phoneNum'">ORDER BY phoneNum ${sortOrder}</if>
			<if test="sortName != null and sortName == 'reportCreaTime'">ORDER BY creatime ${sortOrder}</if>
			<if test="sortName != null and sortName == 'verify_state'">ORDER BY verify_state ${sortOrder}</if>
 		</where>
 	</select>
 	
 	<update id="modifyStuAdmin" parameterType="java.util.Map">
 		update user set 
 		<if test="stu_state == 1 and (otherState == 0 or otherState == 1 or otherState == 2)">
 			stu_state=#{stu_state},verify_state='1' 
 		</if>
 		<if test="stu_state == 0 and (otherState == 0 or otherState == 2)">
 			stu_state=#{stu_state},verify_state='0' 
 		</if>
 		<if test="stu_state == 0 and (otherState == 1)">
 			stu_state=#{stu_state},verify_state='1' 
 		</if>
 		<if test="stu_state == 2 and (otherState == 0 or otherState == 2)">
 			stu_state=#{stu_state},verify_state='0' 
 		</if>
 		<if test="stu_state == 2 and (otherState == 1)">
 			stu_state=#{stu_state},verify_state='1' 
 		</if>
 		where schoolId=#{schoolId}
 	</update>
 	<update id="modifyCertiAdmin" parameterType="java.util.Map">
 		update user set 
 		<if test="certi_state == 1 and (otherState == 0 or otherState == 1 or otherState == 2)">
 			certi_state=#{certi_state},verify_state='1' 
 		</if>
 		<if test="certi_state == 0 and (otherState == 0 or otherState == 2)">
 			certi_state=#{certi_state},verify_state='0' 
 		</if>
 		<if test="certi_state == 0 and (otherState == 1)">
 			certi_state=#{certi_state},verify_state='1' 
 		</if>
 		<if test="certi_state == 2 and (otherState == 0 or otherState == 2)">
 			certi_state=#{certi_state},verify_state='0' 
 		</if>
 		<if test="certi_state == 2 and (otherState == 1)">
 			certi_state=#{certi_state},verify_state='1' 
 		</if>
 		where schoolId=#{schoolId}
 	</update>
 	
 	<select id="randPeoples" parameterType="java.util.Map" 
 	resultType="com.liancheng.it.entity.user.User">
 		select * from user 
 		where user_id not like #{user_id} 
 		order by rand() 
 		limit #{start},${end}
 	</select>
 	
 	<select id="filterPeoples" parameterType="java.util.Map" 
 	resultType="com.liancheng.it.entity.user.User">
 		select * from user 
 		<trim prefix="where" suffix="and">
 			<if test="user_id != null and user_id != ''">user_id not like #{user_id}</if>
	 		<if test="gender != null and gender != ''">and gender=#{gender}</if>
	 		<if test="grade != null and grade != ''">and grade=#{grade}</if>
	 		<if test="major != null and major != '不限' and major != ''">and major=#{major}</if>
	 		<if test="type == '同大学'"> and school=#{typeInsert}</if>
	 		<if test="type == '老乡'"> and home=#{typeInsert}</if>
	 		<if test="type == '同高中'"> and highschool=#{typeInsert}</if>
 		</trim>
 		year(CURDATE())-year(STR_TO_DATE(birthday,'%Y-%m-%d')) BETWEEN #{age01} and #{age02} 
 		limit #{start},#{end}
 	</select>
 	
 	<select id="queryTypeUser" parameterType="java.util.Map" 
 	resultType="com.liancheng.it.entity.user.User">
 		select * from user 
 		where user_id not in (#{user_id}) 
 		<if test="type == '同大学'"> and school=#{typeInsert}</if>
 		<if test="type == '老乡'"> and home=#{typeInsert}</if>
 		<if test="type == '同高中'"> and highschool=#{typeInsert}</if>
 		limit #{start},#{end}
 	</select>
 	
 	<select id="queryCheckMaimai" parameterType="string" 
 	resultType="com.liancheng.it.entity.user.User">
 		select * from user 
 		where CONCAT(home,school,highschool) like #{param}
 	</select>
 	
 	<!-- 访客的查询和操作 -->
 	<select id="queryVisitorByUserId" parameterType="map" 
 	resultType="com.liancheng.it.entity.user.Visitor">
 		select * from visitor where v_user_id=#{v_user_id} and user_id=#{user_id}
 	</select>
 	<insert id="saveVisitor" parameterType="map" keyProperty="v_id">
 		insert into visitor 
 		(user_id,v_user_id,v_creatime) 
 		values 
 		(#{user_id},#{v_user_id},#{v_creatime})
 	</insert>
 	
 	<select id="totalVisitors" parameterType="string" resultType="int">
 		select count(*) from visitor where v_user_id=#{v_user_id}
 	</select>
	
	<select id="queryVisitorList" parameterType="map" 
	resultType="com.liancheng.it.entity.user.Visitor">
		select * from visitor where v_user_id=#{v_user_id} 
		limit #{start},#{end}
	</select>
	
	<select id="queryUserList" parameterType="map" 
	resultType="com.liancheng.it.entity.user.User">
		select * from user 
		<where>
			<if test="searchText != null and searchText != ''">
				CONCAT_WS(schoolId,phoneNum,user_nickname,verify_state,gender,star,e_state,province,city,county,birthday,grade,profession,major,school,highschool,lable,skill) like #{searchText}
			</if>
			<if test="verifyState == 1 or verifyState == 0">and verify_state=#{verifyState}</if>
			<if test="blockState == 1 or blockState == 0">and block_status=#{blockState}</if>
			<if test="school != null and school != ''">and school=#{school}</if>
			<if test="gender != null and gender != '--请选择--'">and gender=#{gender}</if>
			<if test="profession != null and profession != ''">and profession=#{profession}</if>
			<if test="schoolID != null and schoolID != ''">and schoolId=#{schoolID}</if>
			<if test="(startDate != null and startDate != '') and (endDate != null and endDate != '')">
				and creatime BETWEEN #{startDate} AND #{endDate}
			</if>
			<if test="sortName != null and sortName == 'schoolId'">ORDER BY schoolId ${sortOrder}</if>
			<if test="sortName != null and sortName == 'phoneNum'">ORDER BY phoneNum ${sortOrder}</if>
			<if test="sortName != null and sortName == 'verify_state'">ORDER BY verify_state ${sortOrder}</if>
			<if test="sortName != null and sortName == 'reportCreaTime'">ORDER BY creatime ${sortOrder}</if>
			<if test="sortName != null and sortName == 'level'">ORDER BY level ${sortOrder}</if>
		</where>
		limit #{start},#{end}
	</select>
	
	<select id="totalUserCount" parameterType="map" resultType="int">
		select count(schoolId) from user 
		<where>
			<if test="searchText != null and searchText != ''">
				CONCAT_WS(schoolId,phoneNum,user_nickname,verify_state,gender,star,e_state,province,city,county,birthday,grade,profession,major,school,highschool,lable,skill) like #{searchText}
			</if>
			<if test="verifyState == 1 or verifyState == 0">and verify_state=#{verifyState}</if>
			<if test="blockState == 1 or blockState == 0">and block_status=#{blockState}</if>
			<if test="school != null and school != ''">and school=#{school}</if>
			<if test="gender != null and gender != '--请选择--'">and gender=#{gender}</if>
			<if test="profession != null and profession != ''">and profession=#{profession}</if>
			<if test="schoolID != null and schoolID != ''">and schoolId=#{schoolID}</if>
			<if test="(startDate != null and startDate != '') and (endDate != null and endDate != '')">
				and creatime BETWEEN #{startDate} AND #{endDate}
			</if>
			<if test="sortName != null and sortName == 'schoolId'">ORDER BY schoolId ${sortOrder}</if>
			<if test="sortName != null and sortName == 'phoneNum'">ORDER BY phoneNum ${sortOrder}</if>
			<if test="sortName != null and sortName == 'verify_state'">ORDER BY verify_state ${sortOrder}</if>
			<if test="sortName != null and sortName == 'reportCreaTime'">ORDER BY creatime ${sortOrder}</if>
			<if test="sortName != null and sortName == 'level'">ORDER BY level ${sortOrder}</if>
		</where>
	</select>
	
	<select id="ModifyPassword" parameterType="map">
		update user set 
		password=#{password} 
		where phoneNum=#{phoneNum}
	</select>
	
	<select id="queryChartControlYM" resultType="com.liancheng.it.entity.user.UserChart">
		select DISTINCT DATE_FORMAT(creatime,'%Y-%m') ym from user GROUP BY ym
	</select>
	
	<select id="queryChartData" parameterType="string" 
	resultType="com.liancheng.it.entity.user.UserChart">
		select DATE_FORMAT(creatime,'%Y-%m') ym,DATE_FORMAT(creatime,'%Y-%m-%d') ymd, COUNT(*) countAddUser 
		from user 
		where DATE_FORMAT(creatime,'%Y-%m')=#{selectDate} 
		GROUP BY ymd
	</select>
	
	<select id="queryAllNetPeople" resultType="int">
		select count(0) from user
	</select>
	
	<select id="totalNoVerifyUser" resultType="int">
		select count(user_id) from user 
		where (stu_state='0' or certi_state='0' or stu_state='2' or certi_state='2') and (stu_verify is not NULL or certi_verify is not null)
	</select>
	
	<select id="modifySendMsg" parameterType="map">
		update user set send_msg=#{send_msg} where user_id=#{user_id}
	</select>
	
	<update id="modifyAddSwitch" parameterType="map">
		update user set add_switch=#{add_switch} where user_id=#{user_id}
	</update>
	
	<insert id="saveTaNoSeeOwnActive" parameterType="map" keyProperty="see_id">
		insert into see_control 
		(user_id,other_user_id,type,state,see_creatime) 
		values 
		(#{user_id},#{other_user_id},#{type},#{state},#{see_creatime})
	</insert>
	<select id="queryTaNoSeeOwnActive" parameterType="map" 
	resultType="com.liancheng.it.entity.user.SeeControl">
		select * from see_control 
		where user_id=#{user_id} and other_user_id=#{other_user_id} and type=#{type}
	</select>
	<update id="updateTaNoSeeOwnActive" parameterType="map">
		update see_control set state=#{state} 
		where user_id=#{user_id} and other_user_id=#{other_user_id} and type=#{type}
	</update>
	
	
	<select id="querySeeControlState" parameterType="map" 
	resultType="com.liancheng.it.entity.user.SeeControl">
		select * from see_control where user_id=#{user_id} and other_user_id=#{other_user_id}
	</select>
	
	<update id="modifyLifeSee" parameterType="map">
		update user set life_see=#{life_see} where user_id=#{user_id}
	</update>
	
	<update id="blockUser" parameterType="map">
		update user set block_status=#{block_status} where user_id=#{user_id}
	</update>
	
 </mapper>